---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Nekvinder Singh
      </span>
    </h1>
    <h3>FullStack | Cloud | DevOps | Security</h3>
    <h4>AWS Certified Solutions Architect</h4>
  </div>
</section>
